

body{
    background-color:grey;
}
.contenedor {
    display: flex;
  }
.table_battle{
    max-width: 50%;
}
.square-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    margin: 20px;
    padding-left: 20px;
  }
  .square div {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
  }
  .square-machine {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    margin: 20px;
  }
  .square-div {
    width: 400px;
    height: 400px;
  }